<a href="https://colab.research.google.com/github/shivangtripathi/ds_lab/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OOPS IN PYTHON**

In [ ]:
class Employee:
 pass
p1 = Employee()
print(p1)

In [3]:
class Dog:
  pass
a = Dog()
b = Dog()
print(a!=b)

True

In [11]:
class Employee:
  name = None
  age = None
p1 = Employee()
p2 = Employee()
p1.name = "Saiyam"
p1.age = 16
p2.name = p1.name
print("p1 -> name : ",p1.name)
print("p1 -> age : ",p1.age)
print("\n p2 -> name : ",p2.name)
print("p2 -> age : ",p2.age)

p1 -> name :  Saiyam
p1 -> age :  16

 p2 -> name :  Saiyam
p2 -> age :  None

In [13]:
class Employee:
  name = None
  age = None

  def display(self):
    print("\nName is : ",self.name)
    print("Age is : ",self.age)

p1 = Employee()
p1.name = "Shivang"
p1.age = 15
p1.display()

p2 = Employee()
p2.name = "Rahul"
p2.age = 56

p2.display()

Name is :  Shivang
Age is :  15

Name is :  Rahul
Age is :  56

In [14]:
class Math:
  a = None
  b = None
  c = None
  def Add(self,x,y):
    self.a = x
    self.b = y
    self.c = self.a+self.b

  def show(self):
    print("Sum of the numbers is " ,self.c)

m1 = Math()
m1.Add(4,5)
m1.show()

Sum of the numbers is  9

In [16]:
class Student:
  branch = "CSE"
  def __init__(self,r):
    self.rollNo = r
  def setAddress(self,r):
    self.address = r
  def getAddress(self):
    return self.address

s1 = Student(45)
s1.setAddress("Gorakhpur")
print("Student Address ",s1.getAddress())

Student Address  Gorakhpur

In [19]:
class Student:
  def __init__(self,name=None):
    self.name = name
  def wishHello(self):
    print("Hello , my name is ",self.name)
 
s1 = Student()
s1.wishHello()

s2 = Student("Klaus")
s2.wishHello()

Hello , my name is  None
Hello , my name is  Klaus

In [20]:
class Dog:
  def __init__(self,name):
    self.name = name
    self.age = age
a1 = Dog()
print('a1 --> ',a1)

TypeError: ignored

In [21]:
class Dog:
  species = "Desi"
  def __init__(self,name=None,age=None):
    self.name = name
    self.age = age
a1 = Dog()
a2 = Dog("Tommy")
a3 = Dog("Tommy",2)
print('a1 --> ',a1)
print('a2 --> ',a2)
print('a3 --> ',a3)

a1 -->  <__main__.Dog object at 0x7f0ddbc081d0>
a2 -->  <__main__.Dog object at 0x7f0ddbc08190>
a3 -->  <__main__.Dog object at 0x7f0ddbc08a10>

In [33]:
class ATM:
  session = 0
  def __init__(self,Amount):
    ATM.session+=1
    print("\nCurrent Session Count : ",self.session)
    if self.session>1:
      print("Error only single instance is allowed")
    else:
      print("Successful Withdraw")
    

o1 = ATM(500)
o2 = ATM(2000)
o3 = ATM(300)

Current Session Count :  1
Successful Withdraw

Current Session Count :  2
Error only single instance is allowed

Current Session Count :  3
Error only single instance is allowed

In [36]:
import time
class APITime:
  apiCount = {}
  def __init__(self,id):
    if id not in APITime.apiCount:
      APITime.apiCount[id] = 1
    else:
      APITime.apiCount[id] += 1
  def GetTime(self):
    return time.time()
  def GetCount(self):
    for i in APITime.apiCount:
      print("\n",i,":",APITime.apiCount[i])
    
id1 = "Amazon"
id2 = "Flipkart"
id3 = "Microsoft"
id4 = "Facebook"

o1 = APITime(id1);
o1.GetTime()
o2 = APITime(id1);
o3 = APITime(id1);
o4 = APITime(id1);
o1.GetCount()

 Amazon : 4